@model NS.OBS.Data.Entities.BookDetail

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>BookDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
            
            @using (Html.BeginForm("Update", "Book", FormMethod.Post, new { @enctype = "multipart/form-data", @class="form" }))
            {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <input asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
                </div>

           
           
           @* <div class="mb-3">
          @Html.LabelFor(model => model.First().Image, htmlAttributes: new { @class = "form-label fw-bold" })  
          @{ var imgPath = @Model.First().Image; }
          <img src="@Url.Content(imgPath)" class="thumbnail" >
          <input accept="image/*" class="form-control text-box single-line" data-val="true" data-val-required="Please choose an image" id="Image" name="Image" type="file" />
          <!--@Html.EditorFor(model => model.First().Image, new { htmlAttributes = new { @class = "form-control", @accept="image/*" } })-->
        </div>
*@
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control " type="file" />
                @*<input accept="image/*" class="form-control text-box single-line" type="file" />*@
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
           }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
